{{#each items}}
    <tr>
        <td class="tl">{{name}}</td>
        <td class="tc">{{quoteMin}}-{{quoteMax}}</td>
        <td class="tl">{{advert}}</td>
        <td class="tr">{{publishDatetime}}</td>
    </tr>
{{/each}}