{{#each items}}
    <tr class="cur_pointer" code="{{code}}">
        <td class="tl t-3dot">{{name}}</td>
        <td class="tc t-3dot">{{remark}}</td>
        <td class="tl t-3dot wp200p">{{slogan}}</td>
        <td class="tr wp100p">{{formatDate updateDatetime}}</td>
    </tr>
{{/each}}