{{#each items}}
    <div class="information-l">
        <div class="in-one">{{name}}[{{province}}{{city}}]</div>
        <span class="in-two">{{publishDatetime}}</span>
        <div class="in-three">{{msalary}}<span class="in-four">{{experience}}</span></div>
        <div>{{companyName}}</div>
    </div>
{{/each}}