{{#each items}}
    <div class="information-l cur_pointer" code="{{code}}">
        <div class="in-one">{{name}}[{{province}}{{city}}]</div>
        <span class="in-two">{{formatDate publishDatetime}}</span>
        <div class="in-three">{{msalary}}<span class="in-four">经验{{formtExp experience}}</span></div>
        <div>{{companyName}}</div>
    </div>
{{/each}}