{{#each items}}
    <tr code="{{code}}">
        <td><input type="checkbox" class="checkinput"/></td>
        <td>{{name}}</td>
        <td>{{companyName}}</td>
        <td>{{msalary}}</td>
        <td>{{province}}{{city}}</td>
        <td>{{experience}}</td>
        <td>{{publishDatetime}}</td>
    </tr>
{{/each}}