{{#each items}}
    <div class="in-serve">
        <div class="serve-one">{{name}}</div>
        <span class="serve-two">￥{{quoteMin}}~￥{{quoteMax}}</span>
        <div class="serve-three">{{advert}}</div>
        <div>{{companyName}}</div>
    </div>
{{/each}}