{{#each items}}
    <div class="img-box mr" code="{{companyCode}}">
        <a href="javascript:void(0)" class="hp160p wp100 tc"><img class="mh100" src="{{company.logo}}"></a>
        <div class="img-text">{{company.name}}</div>
        <div class="img-text">{{company.slogan}}</div>
        <div class="img-price">价格区间：{{company.remark}}</div>
    </div>
{{/each}}