{{#each items}}
    <div class="information-l cur_pointer" code="{{code}}">
        <div class="in-one">{{name}}</div>
        <span class="in-two">{{formatDate publishDatetime}}</span>
        <div class="in-three">￥{{formatPrice quoteMin}}~￥{{formatPrice quoteMax}}</div>
        <div>{{company.name}}</div>
        <div>{{company.slogan}}</div>
    </div>
{{/each}}