{{#each items}}
    <div class="img-box mr" code="{{companyCode}}">
        <a href=""><img src="/static/images/xxx.png"></a>
        <div class="img-text">{{companyName}}</div>
        <div class="img-text">{{advert}}</div>
        <div class="img-price">价格区间：￥{{quoteMin}}~￥{{quoteMax}}</div>
    </div>
{{/each}}