{{#each items}}
    <tr code="{{code}}">
        <td><input type="checkbox" class="checkinput"/></td>
        <td>{{name}}</td>
        <td>{{formtSType type}}</td>
        <td>{{mobile}}</td>
        <td>{{formtULevel urgentLevel}}</td>
        <td>{{formatDate publishDatetime}}</td>
    </tr>
{{/each}}