{{#each items}}
    <tr code="{{code}}">
        <td><input type="checkbox" class="checkinput"/></td>
        <td>{{name}}</td>
        <td>{{formtSType type}}</td>
        <td>{{company.name}}</td>
        <td>￥{{formatPrice quoteMin}} - ￥{{formatPrice quoteMax}}</td>
        <td>{{formatSStatus status}}</td>
        <td>{{formatDate publishDatetime}}</td>
    </tr>
{{/each}}