{{#each items}}
    <tr code="{{code}}" jCode="{{resumeCode}}">
        <td><input type="checkbox" class="checkinput"/></td>
        <td>{{resumeName}}</td>
        <td>{{positionName}}</td>
        <td>{{expCity}}</td>
        <td>￥{{expMsalary}}</td>
        <td class="yxStatus">{{formtIStatus status}}</td>
        <td>{{formatDate fromDatetime}}</td>
    </tr>
{{/each}}