{{#each items}}
    <tr code="{{code}}" cCode="{{fromCompany}}">
        <td><input type="checkbox" class="checkinput"/></td>
        <td>{{resumeName}}</td>
        <td>{{companyName}}</td>
        <td>{{companyUser}}</td>
        <td>{{companyMobile}}</td>
        <td>{{formatDate fromDatetime}}</td>
    </tr>
{{/each}}