{{#each items}}
    <tr code="{{code}}">
        <td><input type="checkbox" class="checkinput"/></td>
        <td>{{name}}</td>
        <td>{{formtSType type}}</td>
        <td>{{formatExpCompName expCompanyName}}</td>
        <td>{{formtULevel urgentLevel}}</td>
        <td>{{formatSStatus status}}</td>
        <td>{{formatDate1 publishDatetime}}</td>
    </tr>
{{/each}}