{{#each items}}
    <tr code="{{code}}">
        <td><input type="checkbox" class="checkinput"/></td>
        <td>{{name}}</td>
        <td>{{expPosition}}</td>
        <td>{{expProvoice}}{{expCity}}</td>
        <td>{{formatDate publishDatetime}}</td>
    </tr>
{{/each}}