{{#each items}}
    <tr code="{{code}}" pCode="{{positionCode}}">
        <td><input type="checkbox" class="checkinput"/></td>
        <td>{{companyName}}</td>
        <td>{{positionName}}</td>
        <td>{{province}}{{city}}</td>
        <td>{{msalary}}</td>
        <td>{{resumeName}}</td>
        <td>{{formatDate dealDatetime}}</td>
    </tr>
{{/each}}